body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 240, 200);
  }

.container2 {
    width: 300px;
    height: 450px;
    display: flex;
    border-radius: 20px;
    background-color: rgb(243, 195, 213);
    justify-content:center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}

.container3 {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    position: inherit;
    justify-content: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
}

.qr-code {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    
}